<h1 mat-dialog-title>Comprobar asistencia</h1>
<div mat-dialog-content>
  <mat-form-field class="text-area">
    <mat-label>Pegar lista empleados</mat-label>
    <textarea matInput #employeesToCheck rows="5"></textarea>
  </mat-form-field>
  <h3>Empleados no presentados: {{noAttendant.length}}</h3>
  <ul>
    @for (employee of noAttendant; track $index) {
    <li>{{ employee }}</li>
    }
  </ul>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="check(employeesToCheck.value)">
    Comprobar
  </button>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
