.table-container {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  margin-top: 1%;
  width: 98%;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table-header > .input-filter {
  display: flex;
  justify-content: flex-end;
}

.input-filter > .mat-mdc-form-field {
  width: 60%;
}

.filter-container > button {
  margin-left: 1%;
}

.red {
  color: red;
}

.green {
  color: green;
}

tr.detail-employee-row:not(.detail-employee-expanded-row):hover {
  background: whitesmoke;
}

tr.detail-employee-row:not(.detail-employee-expanded-row):active {
  background: #efefef;
}

.detail-employee-detail {
  overflow: hidden;
  display: flex;
}

tr.employee-detail-row {
  height: 0;
  background-color: rgb(246, 246, 246);
}

@media only screen and (max-width: 600px) {
  .table-header {
    display: flex;
    flex-direction: column;
  }

  .table-header > .input-filter {
    display: flex;
    justify-content: flex-start;
  }
}
