<h1 mat-dialog-title>Confirmar asistencia - {{ today }}</h1>
<div mat-dialog-content>
  <div>
    Confirmar asistencia de <strong>{{ employee.completeName }}</strong
    >. Para el dia de hoy.
  </div>
  <div>
    <mat-radio-group (change)="onChange($event)">
      <mat-radio-button color="primary" value="morning"
        >Mañana</mat-radio-button
      >
      <mat-radio-button color="primary" value="afternoon"
        >Tarde</mat-radio-button
      >
      <mat-radio-button color="primary" value="night">Noche</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button color="primary" (click)="confirmAttendant()">
    Aceptar
  </button>
</div>
